extends layout

block content
  h1 Hello I am currently too broke to continue deployment of abode through Digital Ocean :(
  p Feel free to check out the github page @ https://github.com/br-cz/abode to see my code or hover over actions to see my usage of digital ocean before i realized i cannot keep it up forever :)
